---
layout: default
---
<div class="catalog">
  {% assign by_name = site.places | sort: "name" %}
  {% assign places = by_name | sort: "sortWeight" | reverse %}
  {% for place in places %}
  <article class="card">
    <a href="{{ place.url }}" class="card__link" aria-label="{{ place.name }}">
      <div class="card__photo">
        <img
          src="{{ place.images.thumb }}"
          alt="{{ place.images.alt }}"
          width="600"
          height="450"
          {% if forloop.index > 6 %}loading="lazy"{% endif %}>
      </div>
      <div class="card__bar" aria-hidden="true"></div>
      <div class="card__caption">
        <span class="card__name">{{ place.name }}</span>
        <span class="card__creator">{{ place.creator.name }}</span>
      </div>
    </a>
  </article>
  {% endfor %}
</div>

{% assign all_tags = site.places | map: "tags" | flatten | uniq | sort %}
{% if all_tags.size > 0 %}
<div class="tag-cloud">
  <div class="sec-head">
    <span class="sec-head__t">Browse by tag</span>
    <div class="sec-head__rule"></div>
  </div>
  <div class="tag-cloud__list">
    {% for tag in all_tags %}
    <a href="/tags/{{ tag }}/" class="tag-chip">{{ tag }}</a>
    {% endfor %}
  </div>
</div>
{% endif %}
